div.listing{
    background-color:#B3B3B3;
    margin: 10px; !important;
    margin: 10px; !important;
    width:100%;
}
img{
    height:300px;
    width:auto;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

