<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    {{ data }}
    <form action="/recommendation">
      <label for="ip_addr">IP Address:</label>
      <input type="text" id="ip_addr" name="ip_addr"><br><br>
      <input type="submit" value="Request Recommendations">
    </form>
    <p id="results"></p>
</body>
{#<script>#}
{#    document.getElementById("request").addEventListener("click", function() {#}
{#        var xhttp = new XMLHttpRequest();#}
{#        xhttp.onreadystatechange = function() {#}
{#            if (this.readyState == 4 && this.status == 200) {#}
{#                // Typical action to be performed when the document is ready:#}
{#                document.getElementById("results").innerHTML = xhttp.responseText;#}
{#            }#}
{#        };#}
{#        xhttp.open("GET", "recommendation/", true);#}
{#        xhttp.send();#}
{#    });#}
{#</script>#}
</html>