
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>homesimple ui</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
          <script>
          // Initialize and add the map
          function initMap() {

            // const uluru = { lat: 43.4680, lng: -80.5373 };
            const pin = { lat: {{data.Latitude}}, lng: {{data.Longitude}} };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 18,
              center: pin,
            });

            const marker = new google.maps.Marker({
              position: pin,
              map: map,
            });
          }
        </script>
          <script>
              function check_like(mls){
                  $.get( "/like", function( data ) {
                      console.log("check",data)
                      if(data.includes(mls)){
                          $('#like_button').html("Unlike");
                      }else{
                          $('#like_button').html("Like");
                      }
                });
              }
          </script>
        <script>
            function update_like() {
                console.log("update")
            //This performs a POST-Request.
            //Use "$.get();" in order to perform a GET-Request (you have to take a look in the rest-API-documentation, if you're unsure what you need)
            //The Browser downloads the webpage from the given url, and returns the data.
            $.post( "/like/{{ data.MlsNumber }}", function( ) {
                check_like({{ data.MlsNumber }})
                 //As soon as the browser finished downloading, this function is called.
            });
        }
        </script>


      </head>
      <body>
        <script>
    window.onload = function() {
        check_like({{ data.MlsNumber }})
    };
  </script>
        <!-- <script src="script.js"></script> -->
        <!-- tude,PostalCode,NeighbourHood,Price,PropertyType,ParkingSpace,OwnershipType,Appliances,FlooringType,BasementType,HeatingType,LandSize,AmmenitiesNearBy,PropertyTax,ZoningDescription,LowResPhoto -->
        <a href="/search">
            <button>Back</button>
        </a>

        <button id="like_button" onclick="update_like()">Like</button>

        <script>

        </script>
        <img src={{data.LowResPhoto}}>
        <h1>{{data.title}}</h1>

        <div id="map"></div>
       <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvJHFRT-BDk9-cio13n0IE4NJK85TSZPw&callback=initMap&libraries=&v=weekly"
          async
        ></script>


        <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvJHFRT-BDk9-cio13n0IE4NJK85TSZPw
        &q={{ data.Address}}" allowfullscreen>
    </iframe>
        <h2>Features</h2>
        <p>Address: {{data.Address}}</p>
        <p>Price: {{data.Price}}</p>
        <p>MLS Number: {{data.MlsNumber}}</p>

        <p>Bathrooms: {{data.Bathrooms}}</p>
        <p>Bedrooms: {{data.Bedrooms}}</p>
        <p>InteriorSize: {{data.InteriorSize}}</p>
        <p>Type: {{data.Type}}</p>
        <p>Ammenities: {{data.Ammenities}}</p>

        <h2>Description</h2>
        <p>{{data.PublicRemarks}}</p>
          </body>
    </html>
