
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>homesimple ui</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">


      </head>
      <body>
        <button class="accordion">Realtor A</button>
        <div class="panel">
          <ul>
        {% for listing in data['realtorA'] %}
          <li>
          <a href="/page/{{ listing['MlsNumber'] }}">
            <div class="listing row">
                <div class="column">

{#                <p>{{ listing['Score'] if listing['Score'] != ''}}</p>#}
              <p>Price: {{listing['Price']}}</p>
              <p>Address: {{listing['Address']}} </p>
              <ul>
                <li>Bathrooms: {{listing['Bathrooms']}}</li>
                <li>Bedrooms: {{listing['Bedrooms']}}</li>
              </ul>

              <p>Viewed</p>
              <p>Liked</p>
                    </div>
                <div class="column">
                    <img src={{listing['LowResPhoto']}}>
                </div>
            </div>
              </a>
          </li>

        {% endfor %}
        </ul>
        </div>

        <button class="accordion">Realtor B</button>
        <div class="panel">
          <ul>
        {% for listing in data['realtorB'] %}
          <li>
          <a href="/page/{{ listing['MlsNumber'] }}">
            <div class="listing row">
                <div class="column">

{#                <p>{{ listing['Score'] if listing['Score'] != ''}}</p>#}
              <p>Price: {{listing['Price']}}</p>
              <p>Address: {{listing['Address']}} </p>
              <ul>
                <li>Bathrooms: {{listing['Bathrooms']}}</li>
                <li>Bedrooms: {{listing['Bedrooms']}}</li>
              </ul>

              <p>Viewed</p>
              <p>Liked</p>
                    </div>
                <div class="column">
                    <img src={{listing['LowResPhoto']}}>
                </div>
            </div>
              </a>
          </li>

        {% endfor %}
        </ul>
        </div>

        <button class="accordion">Realtor C</button>
        <div class="panel">
          <ul>
        {% for listing in data['realtorC'] %}
          <li>
          <a href="/page/{{ listing['MlsNumber'] }}">
            <div class="listing row">
                <div class="column">

{#                <p>{{ listing['Score'] if listing['Score'] != ''}}</p>#}
              <p>Price: {{listing['Price']}}</p>
              <p>Address: {{listing['Address']}} </p>
              <ul>
                <li>Bathrooms: {{listing['Bathrooms']}}</li>
                <li>Bedrooms: {{listing['Bedrooms']}}</li>
              </ul>

              <p>Viewed</p>
              <p>Liked</p>
                    </div>
                <div class="column">
                    <img src={{listing['LowResPhoto']}}>
                </div>
            </div>
              </a>
          </li>

        {% endfor %}
        </ul>
        </div>
        <button class="accordion">Realtor D</button>
        <div class="panel">
          <ul>
        {% for listing in data['realtorD'] %}
          <li>
          <a href="/page/{{ listing['MlsNumber'] }}">
            <div class="listing row">
                <div class="column">

{#                <p>{{ listing['Score'] if listing['Score'] != ''}}</p>#}
              <p>Price: {{listing['Price']}}</p>
              <p>Address: {{listing['Address']}} </p>
              <ul>
                <li>Bathrooms: {{listing['Bathrooms']}}</li>
                <li>Bedrooms: {{listing['Bedrooms']}}</li>
              </ul>

              <p>Viewed</p>
              <p>Liked</p>
                    </div>
                <div class="column">
                    <img src={{listing['LowResPhoto']}}>
                </div>
            </div>
              </a>
          </li>

        {% endfor %}
        </ul>
        </div>
      <button class="accordion">Realtor E</button>
        <div class="panel">
          <ul>
        {% for listing in data['realtorE'] %}
          <li>
          <a href="/page/{{ listing['MlsNumber'] }}">
            <div class="listing row">
                <div class="column">

{#                <p>{{ listing['Score'] if listing['Score'] != ''}}</p>#}
              <p>Price: {{listing['Price']}}</p>
              <p>Address: {{listing['Address']}} </p>
              <ul>
                <li>Bathrooms: {{listing['Bathrooms']}}</li>
                <li>Bedrooms: {{listing['Bedrooms']}}</li>
              </ul>

              <p>Viewed</p>
              <p>Liked</p>
                    </div>
                <div class="column">
                    <img src={{listing['LowResPhoto']}}>
                </div>
            </div>
              </a>
          </li>

        {% endfor %}
        </ul>
        </div>

          </body>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
        </script>
    </html>